<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <!--<link href="http://vjs.zencdn.net/5.19.2/video-js.css" rel="stylesheet">-->
    <!--&lt;!&ndash; If you'd like to support IE8 &ndash;&gt;-->
    <!--<script src="http://vjs.zencdn.net/ie8/1.1.2/videojs-ie8.min.js"></script>-->
    <!--<script src="http://vjs.zencdn.net/5.19.2/video.js"></script>-->
    <style>
        .vplayer{
            display: inline-block;
            position: relative;
            z-index: 1;
        }
        .subtitle{
            position: absolute;
            bottom: 50px;
            width: 100%;
            text-align: center;
            font-size: 20px;
            color: white;
            z-index: 900000000000;
        }
        video{
            background-color: #111111;
        }
    </style>
</head>
<body>
<h1></h1>
<p>Welcome to</p>
<div class="vplayer">
    <video  width="640" height="400" id="my-player" class="video-js"
           preload="auto"
           data-setup='{}'
           poster="http://www.dreamworks.com/kungfupanda/images/uploads/games/_400/KFP3_VG_Promo_r3.jpg">
        <source src="http://188.166.180.232:3121/play?fileId=0B75nLBc1vU18dW1ZNzhhM0R1VDA#t=329.275926,null"
                type="video/mp4">
        <!--<track src="/subs/sub.srt" srclang="en" label="English" kind="subtitles">-->
    </video>
    <div class="subtitle">

    </div>
</div>

<script src="/javascripts/subtitle-parser.js"></script>
<script src="/javascripts/app.js"></script>
<script>

</script>
</body>
</html>
