<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <!--<link href="http://vjs.zencdn.net/5.19.2/video-js.css" rel="stylesheet">-->
    <!--&lt;!&ndash; If you'd like to support IE8 &ndash;&gt;-->
    <!--<script src="http://vjs.zencdn.net/ie8/1.1.2/videojs-ie8.min.js"></script>-->
    <!--<script src="http://vjs.zencdn.net/5.19.2/video.js"></script>-->
    <style>
        .vplayer{
            display: inline-block;
            position: relative;
        }
        .subtitle{
            position: absolute;
            bottom: 50px;
            width: 100%;
            text-align: center;
            font-size: 20px;
            color: white;
        }
        video{
            background-color: #111111;
        }
    </style>
</head>
<body>
<h1></h1>
<p>Welcome to</p>
<div class="vplayer">
    <video  width="640" height="400" id="my-player" class="video-js"
           controls
           preload="auto"
           data-setup='{}'
           poster="http://www.dreamworks.com/kungfupanda/images/uploads/games/_400/KFP3_VG_Promo_r3.jpg">
        <source src="http://188.166.180.232:3120/play?fileId=0B75nLBc1vU18QXB2Y3M4SEtiRDQ#t=0,null"
                type="video/mp4">
        <!--<track src="/subs/sub.srt" srclang="en" label="English" kind="subtitles">-->
    </video>
    <div class="subtitle">

    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/javascripts/subtitle-parser.js"></script>
<script>
    function searchSubByTime(arraySub,startIndex,endIndex,timeValue) {

        if(startIndex == endIndex){
            var subObj = arraySub[startIndex];
            if(subObj.endTime >= timeValue && subObj.startTime<= timeValue){
                return subObj;
            }else {
                return null;
            }
        }else {
            var middle = Math.floor((startIndex+endIndex)/2);
            var subObj = arraySub[middle];
            if(subObj.endTime < timeValue){
                return searchSubByTime(arraySub,middle+1,endIndex,timeValue);
            }else if(subObj.startTime > timeValue){
                return searchSubByTime(arraySub,startIndex,middle,timeValue);
            }else return subObj;
        }

    }
    $(document).ready(function () {
//        var options = {};
//
//        var player = videojs('my-player', options, function onPlayerReady() {
//            videojs.log('Your player is ready!');
//
//            // In this context, `this` is the player that was created by Video.js.
//            this.play();
//
//            // How about an event listener?
//            this.on('ended', function() {
//                videojs.log('Awww...over so soon?!');
//            });
//        });
//        player.on("timeupdate", function (event) {
//            console.log(event)
//        });
        var ePlayer = $('#my-player');
        ePlayer.on('timeupdate',function (event) {

           if(dataMs){
               var subObj=(searchSubByTime(dataMs,0,dataMs.length-1,1000*this.currentTime));
               console.log('timeupdate',this.currentTime,subObj);
               if(subObj){
                   $('.subtitle').html(subObj.text);
               }else{
                   $('.subtitle').html('');
               }

           }
        });
        ePlayer.on('pause',function (event) {
           console.log('pause');
        });
        ePlayer.on('playing',function (event) {
           console.log('playing');
        });
        ePlayer.on('waiting',function (event) {
           console.log('waiting');
        });
        var dataMs;
        $.get( "/subs/suben.srt", function( data ) {
            dataMs = parser.fromSrt(data, true);
            console.log(dataMs);
        });

    })
</script>
</body>
</html>
