<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <!--<link href="http://vjs.zencdn.net/5.19.2/video-js.css" rel="stylesheet">-->
    <!--&lt;!&ndash; If you'd like to support IE8 &ndash;&gt;-->
    <!--<script src="http://vjs.zencdn.net/ie8/1.1.2/videojs-ie8.min.js"></script>-->
    <!--<script src="http://vjs.zencdn.net/5.19.2/video.js"></script>-->
    <style>
        .vplayer{
            display: inline-block;
            position: relative;
            z-index: 1;
        }
        .subtitle{
            position: absolute;
            bottom: 50px;
            width: 100%;
            text-align: center;
            font-size: 20px;
            color: white;
            z-index: 900000000000;
        }
        video{
            background-color: #111111;
        }
    </style>
</head>
<body>
<h1></h1>
<p>Welcome to</p>
<div class="vplayer">
    <video  width="640" height="400" id="my-player" class="video-js"
           preload="auto"
           controls
           data-setup='{}'
           poster="http://www.dreamworks.com/kungfupanda/images/uploads/games/_400/KFP3_VG_Promo_r3.jpg">
        <source src="https://redirector.googlevideo.com/videoplayback?id=50743ce9900ff2d9&itag=22&source=webdrive&requiressl=yes&ttl=transient&mm=30&mn=sn-npoeen7r&ms=nxu&mv=m&pl=22&ei=Jm82WYvyFM3iqQX2loOYCQ&driveid=0B75nLBc1vU18ZU9BRUFMVXVFY1U&mime=video/mp4&lmt=1465046195132198&mt=1496739514&ip=188.166.180.232&ipbits=0&expire=1496754022&sparams=ip,ipbits,expire,id,itag,source,requiressl,ttl,mm,mn,ms,mv,pl,ei,driveid,mime,lmt&signature=6843C3D42B771D90B92324611759F857BE326E0F.AB34B6786DDDAF9F995AE179B0DAF86321EB7A38&key=ck2&app=explorer#t=341.650019,null"
                type="video/mp4">
        <!--<track src="/subs/sub.srt" srclang="en" label="English" kind="subtitles">-->
    </video>
    <div class="subtitle">

    </div>
</div>

<script src="/javascripts/subtitle-parser.js"></script>
<script src="/javascripts/app.js"></script>
<script>

</script>
</body>
</html>
