
video::-webkit-media-controls-enclosure {
    display: none !important;
}
.mycontrols {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    color: white;
    font-size: .8em;
    width: 100%;
    min-height: 40px;
    padding: 10px 5px;
    background-color: black;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 2147483647;
}
